{% extends "base.html" %} {% load static %} {%block content%}
<section class="admission__intro">
  <div class="admission__intro__container _container">
    <div class="admission__intro_img">
      <img src="img/admission_intro.png" alt="" />

      <a href="" class="admission__intro">
        Lorem ipsum dolor sit Amet, Consectetur adipiscing elit, sed do Eiusmod
        tempor Incididun
      </a>
    </div>
  </div>
</section>

<section class="admission_content">
  <div class="admission_content__container _container">
    <div class="admission_content__title">Lorem ipsum dolor</div>
    <div class="admission_content__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
      magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
      do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
</section>

<section class="access_conditions">
  <div class="access_conditions__container _container">
    <div class="access_conditions__title">Кіру шарттары</div>
    <div class="access_conditions__list">
      <div class="access_conditions__item">
        <div class="access_conditions_img">
          <img src="img/access_conditions_img1.png" alt="" />
        </div>
        <div class="access_conditions__item-title">Мамандықтар</div>
        <a href="" class="access_conditions_button"> Read more </a>
      </div>
      <div class="access_conditions__item">
        <div class="access_conditions_img">
          <img src="img/access_conditions_img2.png" alt="" />
        </div>
        <div class="access_conditions__item-title">Қажетті құжаттама</div>
        <a href="" class="access_conditions_button"> Read more </a>
      </div>
      <div class="access_conditions__item">
        <div class="access_conditions_img">
          <img src="img/access_conditions_img3.png" alt="" />
        </div>
        <div class="access_conditions__item-title">Аударма</div>
        <a href="" class="access_conditions_button"> Read more </a>
      </div>
    </div>
  </div>
</section>

{%endblock%}
