{% extends "base.html" %} {% load static %}






	{%block content%}	
	<div class="page_intro page_intro-bg"
		style="background: url(img/page_intro.png); background-repeat: no-repeat; background-size: cover;">
		<div class="page_intro__container _container">
			<div class="page_intro-title">Біз туралы</div>
		</div>
	</div>

	<section class="college">
		<div class="college__container _container">
			<div class="college__wrapper college__list">
				<div class="college__item _normal_item">
					<div class="college__item-info">
						<div class="college__item-title">Тарихы</div>
						<div class="college__item-text main_text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
							et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</div>
						<button class="college__item-button main_btn">
							Read more
						</button>
					</div>
					<div class="college__item-img">
						<img src="img/our_team-1.png" alt="">
					</div>
				</div>
				<div class="college__item _reverse_item">
					<div class="college__item-info">
						<div class="college__item-title">Тарихы</div>
						<div class="college__item-text main_text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
							et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</div>
						<button class="college__item-button main_btn">
							Read more
						</button>
					</div>
					<div class="college__item-img">
						<img src="img/error_img.png" alt="">
					</div>
				</div>
				<div class="college__item _normal_item">
					<div class="college__item-info">
						<div class="college__item-title">Тарихы</div>
						<div class="college__item-text main_text">
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
							et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
							adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum
							dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.
						</div>
						<button class="college__item-button main_btn">
							Read more
						</button>
					</div>
					<div class="college__item-img">
						<img src="img/page_intro.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="our_team">
		<div class="our_team__container _container">
			<div class="our_team__title">
				Біздің команда
			</div>
			<div class="our_team__list">
				<div class="our_team__item">
					<div class="our_team-img">
						<img src="img/our_team-1.png" alt="">
					</div>
					<div class="our_team-subtitle">Бодаубеков Алишер</div>
					<div class="our_team-text">Директор</div>
				</div>
				<div class="our_team__item">
					<div class="our_team-img">
						<img src="img/our_team-2.png" alt="">
					</div>
					<div class="our_team-subtitle">Жолдыбаева Тамара</div>
					<div class="our_team-text">Орыс тілі мен әдебиеті пәні оқутушысы</div>
				</div>
				<div class="our_team__item">
					<div class="our_team-img">
						<img src="img/our_team-3.png" alt="">
					</div>
					<div class="our_team-subtitle">Кусаинов Рустем</div>
					<div class="our_team-text">Түрік тілі пәні оқытушысы</div>
				</div>
			</div>
			<button class="our_team__button main_btn">
				Read more
			</button>
		</div>
	</section>


	 {%endblock%}


</body>

</html>