{% extends "base.html" %} {% load static %} {%block content%}
<section class="for_parents">
  <div class="for_parents__container _container">
    <div class="for_parents__list">
      {% for child in forparents %}
      <div class="for_parents__item">
        <div class="for_parents__title">{{ child.title }}</div>
        <div class="for_parents__text main_text">{{child.description}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<script src="{% static 'js/script.js'%}"></script>
{%endblock%}
