{% extends "base.html" %} {% load static %} {%block content%}
<div class="intro">
  <div class="intro__container">
    <div class="intro__body">
      <div class="intro_sliper-container">
        <div class="intro_swiper-container">
          <div class="swiper swiper_slider-intro">
            <div class="swiper-wrapper">
              {% for slide in slider %}
              <div class="swiper-slide">
                <img src="{{slide.img.url}}" alt="" />
                <div class="slide-bg"></div>
                <a href="" class="swiper-slide-link">{{slide.description}}</a>
              </div>
              {% endfor %}
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="features">
  <div class="features__container _container">
    <div class="features_content">
      <div class="features__title">Көзқарастар мен мақсаттар</div>
      <div class="features__item">
        <div class="features__item-title">Сабақ беру қөзқарастарымыз</div>
        <div class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
          minim veniam, quis nostrud exercitation ullamco
        </div>
      </div>
      <div class="features__item">
        <div class="features__item-title">Негізгі мақсатымыз</div>
        <div class="features__item-text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
      </div>
    </div>
    <div class="features_images_block">
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-1_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Шығармашылық</div>
      </div>
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-2_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Биік мақсаттар</div>
      </div>
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-3_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Принциптер мен этика</div>
      </div>
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-4_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Бәсекелестік</div>
      </div>
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-5_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Таңдауға көмек</div>
      </div>
      <div class="features_image-item">
        <div class="features_image">
          <img
            src="{% static 'img/features-6_img.svg'%}"
            alt="features_image-1"
          />
        </div>
        <div class="features_image-info">Әр жерден келген мұғалімдер</div>
      </div>
    </div>
  </div>
</section>

<section class="college__about">
  <div class="college__about__container _container">
    <div class="college__about-list">
      {% for item in aboutNumbers%}
      <div class="college__about-item">
        <div class="college__about-title">{{item.number}}</div>
        <div class="college__about-subtitle">{{item.title}}</div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="college">
  <div class="college__container _container">
    <div class="college__wrapper home_college__list">
      <div class="college__item _normal_item">
        <div class="college__item-info">
          <div class="college__item-title">{{aboutPost.title}}</div>
          <div class="college__item-text main_text">
            {{aboutPost.description}}
          </div>
          <button class="college__item-button main_btn">Read more</button>
        </div>
        <div class="college__item-img">
          <img src="{{aboutPost.img.url}}" alt="" />
        </div>
      </div>
      <div class="college__item _reverse_item">
        <div class="college__item-info">
          <div class="college__item-title">{{aboutPost2.title}}</div>
          <div class="college__item-text main_text">
            {{aboutPost2.description}}
          </div>
          <button class="college__item-button main_btn">Read more</button>
        </div>
        <div class="college__item-img">
          <img src="{{aboutPost2.img.url}}" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="add_info__college">
  <div class="add_info__college__container _container">
    <div class="college__add-content">
      <div class="add_info__college-title">{{university.title}}</div>
      <div class="add_info__college-text main_text">
        {{university.description}}
      </div>
      <button class="add_info__college-btn main_btn">Read more</button>
    </div>
    <div class="add_info__college-logo">
      <img src="{% static 'img/main_logo.png'%}" alt="" />
    </div>
  </div>
</section>

<section class="features_cards">
  <div class="features_cards__container _container">
    <div class="features__body">
      <div class="features__cards-title">Title</div>
      <div class="features_cards__row">
        {% for el in mainPost %}
        <div class="features_card">
          <div class="features_card-img">
            <img src="{{el.img.url}}" alt="" />
          </div>
          <div class="features_card-info">
            <p>{{el.description}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{%endblock%}
