{% extends "base.html" %} {% load static %} {%block content%}
<div
  class="page_intro page_intro-bg"
  style="
    background: url(img/page_intro.png);
    background-repeat: no-repeat;
    background-size: cover;
  "
>
  <div class="page_intro__container _container">
    <div class="page_intro-title">Мамандықтар</div>
  </div>
</div>

<section class="speciallity">
  <div class="speciallity__container _container">
    <div class="speciallity_wrapper">
      <div class="speciallity_item">
        <div class="speciallity_item-content">
          <div class="speciallity_item-title">Педагогика-0402ХХХХХ</div>
          <div class="speciallity_item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet
            id maecenas non eu. Sit sem nisl, donec consequat vestibulum eget ut
            nam.
          </div>
          <div class="speciallity_item-date">
            Срок обучения: <span>3 жыл 10 ай</span>
          </div>
          <div class="speciallity_item-conditions">
            Условия поступления: Суммарный балл оценок обязательных и профильных
            предметов в соответствии с документом об образовании.
          </div>
        </div>
        <div class="speciallity_item-img">
          <img src="img/error_img.png" alt="" />
        </div>
      </div>
      <div class="speciallity_item">
        <div class="speciallity_item-content">
          <div class="speciallity_item-title">Педагогика-0402ХХХХХ</div>
          <div class="speciallity_item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet
            id maecenas non eu. Sit sem nisl, donec consequat vestibulum eget ut
            nam.
          </div>
          <div class="speciallity_item-date">
            Срок обучения: <span>3 жыл 10 ай</span>
          </div>
          <div class="speciallity_item-conditions">
            Условия поступления: Суммарный балл оценок обязательных и профильных
            предметов в соответствии с документом об образовании.
          </div>
        </div>
        <div class="speciallity_item-img">
          <img src="img/page_intro.png " alt="" />
        </div>
      </div>
      <div class="speciallity_item">
        <div class="speciallity_item-content">
          <div class="speciallity_item-title">Педагогика-0402ХХХХХ</div>
          <div class="speciallity_item-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In aliquet
            id maecenas non eu. Sit sem nisl, donec consequat vestibulum eget ut
            nam.
          </div>
          <div class="speciallity_item-date">
            Срок обучения: <span>3 жыл 10 ай</span>
          </div>
          <div class="speciallity_item-conditions">
            Условия поступления: Суммарный балл оценок обязательных и профильных
            предметов в соответствии с документом об образовании.
          </div>
        </div>
        <div class="speciallity_item-img">
          <img src="img/page_intro.png " alt="" />
        </div>
      </div>
    </div>
  </div>
</section>

<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="js/script.js"></script>
{%endblock%}
